In [74]:
import pandas as pd
import numpy as np

loan_data = pd.read_csv('../data/loan_data.csv')

In [72]:
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [5]:
loan_data['Property_Area'].value_counts()

Semiurban    149
Urban        126
Rural        106
Name: Property_Area, dtype: int64

In [75]:
loan_data = pd.get_dummies(loan_data, columns=['Property_Area'], prefix=['Area'])
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Area_Rural,Area_Semiurban,Area_Urban
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,N,1,0,0
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Y,0,0,1
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Y,0,0,1
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Y,0,0,1
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Y,0,0,1

In [76]:
Y = loan_data['Loan_Status']
loan_data = loan_data.drop(columns=['Loan_Status'])

In [5]:
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,1,0,0
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,0,0,1
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,0,0,1
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,0,0,1
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,0,0,1

In [77]:
Y.replace(['Y', 'N'], [1, 0], inplace=True)

In [13]:
Y.head()

0    0
1    1
2    1
3    1
4    1
Name: Loan_Status, dtype: int64

In [78]:
loan_data.replace(['Yes', 'No'], [1, 0], inplace=True)
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban
0,LP001003,Male,1,1,Graduate,0.0,4583,1508.0,128.0,360.0,1.0,1,0,0
1,LP001005,Male,1,0,Graduate,1.0,3000,0.0,66.0,360.0,1.0,0,0,1
2,LP001006,Male,1,0,Not Graduate,0.0,2583,2358.0,120.0,360.0,1.0,0,0,1
3,LP001008,Male,0,0,Graduate,0.0,6000,0.0,141.0,360.0,1.0,0,0,1
4,LP001013,Male,1,0,Not Graduate,0.0,2333,1516.0,95.0,360.0,1.0,0,0,1

In [79]:
loan_data.replace(['Graduate', 'Not Graduate'], [1, 0], inplace=True)
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban
0,LP001003,Male,1,1,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0,0
1,LP001005,Male,1,0,1,1.0,3000,0.0,66.0,360.0,1.0,0,0,1
2,LP001006,Male,1,0,0,0.0,2583,2358.0,120.0,360.0,1.0,0,0,1
3,LP001008,Male,0,0,1,0.0,6000,0.0,141.0,360.0,1.0,0,0,1
4,LP001013,Male,1,0,0,0.0,2333,1516.0,95.0,360.0,1.0,0,0,1

In [80]:
loan_data = pd.get_dummies(loan_data, columns=['Gender'])
loan_data.head()

,Loan_ID,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban,Gender_Female,Gender_Male
0,LP001003,1,1,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0,0,0,1
1,LP001005,1,0,1,1.0,3000,0.0,66.0,360.0,1.0,0,0,1,0,1
2,LP001006,1,0,0,0.0,2583,2358.0,120.0,360.0,1.0,0,0,1,0,1
3,LP001008,0,0,1,0.0,6000,0.0,141.0,360.0,1.0,0,0,1,0,1
4,LP001013,1,0,0,0.0,2333,1516.0,95.0,360.0,1.0,0,0,1,0,1

In [81]:
loan_data.drop(columns=['Loan_ID'], inplace=True)
loan_data.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban,Gender_Female,Gender_Male
0,1,1,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0,0,0,1
1,1,0,1,1.0,3000,0.0,66.0,360.0,1.0,0,0,1,0,1
2,1,0,0,0.0,2583,2358.0,120.0,360.0,1.0,0,0,1,0,1
3,0,0,1,0.0,6000,0.0,141.0,360.0,1.0,0,0,1,0,1
4,1,0,0,0.0,2333,1516.0,95.0,360.0,1.0,0,0,1,0,1

In [82]:
loan_data.describe()

,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban,Gender_Female,Gender_Male
count,381.000000,381.000000,360.000000,381.000000,381.000000,381.000000,370.000000,351.000000,381.000000,381.000000,381.000000,381.000000,381.000000
mean,0.598425,0.729659,0.097222,3579.845144,1277.275381,104.986877,340.864865,0.837607,0.278215,0.391076,0.330709,0.223097,0.763780
std,0.490861,0.444720,0.296672,1419.813818,2340.818114,28.358464,68.549257,0.369338,0.448709,0.488633,0.471087,0.416870,0.425318
min,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,2600.000000,0.000000,90.000000,360.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,0.000000,3333.000000,983.000000,110.000000,360.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,0.000000,4288.000000,2016.000000,127.000000,360.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,9703.000000,33837.000000,150.000000,480.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [95]:
cvrtd_loan_data = loan_data.convert_dtypes(convert_boolean=False, convert_integer=False, convert_floating=False)

In [96]:
cvrtd_loan_data.dtypes

Married                int64
Dependents            string
Education              int64
Self_Employed        float64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Area_Rural             uint8
Area_Semiurban         uint8
Area_Urban             uint8
Gender_Female          uint8
Gender_Male            uint8
dtype: object

In [133]:
cvrtd_loan_data['Dependents'].dtypes

Int8Dtype()

In [134]:
cvrtd_loan_data['Dependents'].value_counts()

0    197
2     49
1     43
3     24
Name: Dependents, dtype: Int64

In [132]:
cvrtd_loan_data['Dependents'] = cvrtd_loan_data['Dependents'].replace({'3+': '3'}).astype(pd.Int8Dtype())

In [131]:
for i in range(len(cvrtd_loan_data['Dependents'])):
    el = cvrtd_loan_data['Dependents'].iloc[i]
    print(el)
    print(type(el))
    if str(el) == '1' or str(el) == '2' or str(el) == '0':
        cvrtd_loan_data['Dependents'].iloc[i].to 
    elif str(el)=='3+':
        cvrtd_loan_data['Dependents'].iloc[i] = int(3)
    print(type(el))

1
<class 'str'>

ValueError: Cannot set non-string value '1' into a StringArray.

In [108]:
cvrtd_loan_data.dropna(inplace=True)

In [135]:
cvrtd_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 380
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Married            313 non-null    int64
 1   Dependents         313 non-null    Int8
 2   Education          313 non-null    int64
 3   Self_Employed      313 non-null    float64
 4   ApplicantIncome    313 non-null    int64
 5   CoapplicantIncome  313 non-null    float64
 6   LoanAmount         313 non-null    float64
 7   Loan_Amount_Term   313 non-null    float64
 8   Credit_History     313 non-null    float64
 9   Area_Rural         313 non-null    uint8
 10  Area_Semiurban     313 non-null    uint8
 11  Area_Urban         313 non-null    uint8
 12  Gender_Female      313 non-null    uint8
 13  Gender_Male        313 non-null    uint8
dtypes: Int8(1), float64(5), int64(3), uint8(5)
memory usage: 24.1 KB

In [110]:
cvrtd_loan_data.describe()

,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Area_Rural,Area_Semiurban,Area_Urban,Gender_Female,Gender_Male
count,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000
mean,0.600639,0.744409,0.089457,3598.047923,1277.178658,104.773163,341.482428,0.846645,0.277955,0.402556,0.319489,0.201278,0.782748
std,0.490551,0.436891,0.285859,1452.988647,2503.815481,29.253911,67.738187,0.360906,0.448709,0.491198,0.467025,0.401597,0.413036
min,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,2583.000000,0.000000,90.000000,360.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,0.000000,3333.000000,913.000000,110.000000,360.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,0.000000,4288.000000,1950.000000,128.000000,360.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,9703.000000,33837.000000,150.000000,480.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [136]:
train_size = int(0.8 * cvrtd_loan_data.shape[0])

X_train = cvrtd_loan_data[:train_size].T
X_test = cvrtd_loan_data[train_size:].T

Y_train = Y[:train_size]
Y_test = Y[train_size:]

In [119]:
X_train

,0,1,2,3,4,5,7,8,9,11,...,294,296,297,298,300,301,302,304,305,306
Married,1,1,1,0,1,1,0,1,0,0,...,1,0,0,1,1,1,1,1,1,1
Dependents,1,0,0,0,0,2,0,2,0,0,...,3+,0,0,3+,0,1,3+,2,3+,0
Education,1,1,0,1,0,1,1,1,1,1,...,1,1,1,0,1,0,1,1,0,1
Self_Employed,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ApplicantIncome,4583,3000,2583,6000,2333,3200,1853,1299,4950,3510,...,7740,4166,6000,2947,4333,2653,4691,2873,3095,2083
CoapplicantIncome,1508.0,0.0,2358.0,0.0,1516.0,700.0,2840.0,1086.0,0.0,0.0,...,0.0,0.0,0.0,1664.0,2451.0,1500.0,0.0,1872.0,0.0,3150.0
LoanAmount,128.0,66.0,120.0,141.0,95.0,70.0,114.0,17.0,125.0,76.0,...,128.0,98.0,140.0,70.0,110.0,113.0,100.0,132.0,113.0,128.0
Loan_Amount_Term,360.0,360.0,360.0,360.0,360.0,360.0,360.0,120.0,360.0,360.0,...,180.0,360.0,360.0,180.0,360.0,180.0,360.0,360.0,360.0,360.0
Credit_History,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
Area_Rural,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
Area_Semiurban,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,0,1
Area_Urban,0,1,1,1,1,1,0,1,1,1,...,1,0,0,1,1,0,0,0,0,0
Gender_Female,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Gender_Male,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,0,1,1

In [120]:
Y_train

0      0
1      1
2      1
3      1
4      1
      ..
245    1
246    1
247    1
248    1
249    1
Name: Loan_Status, Length: 250, dtype: int64

In [146]:
class LogisticRegressionClassifier:
  def __init__(self, n):
      self._w = np.full((n,1), 0.05)
      self._b = 0.0


  def _sigmoid(self, z):
    sigmoid = 1/ (1+np.exp(-z))
    #sigmoid = np.minimum(sigmoid, 0.9999)  # Set upper bound
    #sigmoid = np.maximum(sigmoid, 0.0001)
    return sigmoid
  
  def forward_backward_propagation(self, x_train, y_train):
    
    z = np.dot(self._w.T, x_train) + self._b
    y_head = self._sigmoid(z.astype(float))
    y_train = y_train.to_numpy()
    loss = -y_train * np.log(y_head) - (1-y_train) * np.log(1-y_head)
    cost = (np.sum(loss)) / x_train.shape[1]
    
    #backward propogation
    derivative_weight = (np.dot(x_train,((y_head-y_train).T)))/x_train.shape[1]
    derivative_bias = np.sum(y_head-y_train)/x_train.shape[1]
    gradients = {"derivative_weight": derivative_weight,"derivative_bias": derivative_bias}
    return cost,gradients

  def fit(self, x_train, y_train, epochs, lr):
    # print(x)
    # print(y)
    loss_values = []

    for epoch in range(epochs):
        # make forward and backward propagation and find cost and gradients
        cost,gradients = self.forward_backward_propagation(x_train,y_train)
        loss_values.append(cost)
        # lets update
        self._w = self._w - lr * gradients["derivative_weight"]
        self._b = self._b - lr * gradients["derivative_bias"]
        if epoch % 10 == 0:
            print ("Cost after epoch %i: %f" %(epoch, cost))

    print(loss_values)

In [147]:
logreg_clf = LogisticRegressionClassifier(X_train.shape[0])

In [148]:
logreg_clf.fit(X_train, Y_train, 10000, 0.0001)

/tmp/ipykernel_560/1015737955.py:18: RuntimeWarning: divide by zero encountered in log
  loss = -y_train * np.log(y_head) - (1-y_train) * np.log(1-y_head)
/tmp/ipykernel_560/1015737955.py:18: RuntimeWarning: invalid value encountered in multiply
  loss = -y_train * np.log(y_head) - (1-y_train) * np.log(1-y_head)
/tmp/ipykernel_560/1015737955.py:8: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/ (1+np.exp(-z))

Cost after epoch 0: nan
Cost after epoch 10: nan
Cost after epoch 20: nan
Cost after epoch 30: nan
Cost after epoch 40: nan
Cost after epoch 50: nan
Cost after epoch 60: nan
Cost after epoch 70: 162.464142
Cost after epoch 80: 66.209092
Cost after epoch 90: nan
Cost after epoch 100: nan
Cost after epoch 110: nan
Cost after epoch 120: nan
Cost after epoch 130: nan
Cost after epoch 140: nan
Cost after epoch 150: 132.022801
Cost after epoch 160: inf
Cost after epoch 170: 158.151144
Cost after epoch 180: nan
Cost after epoch 190: nan
Cost after epoch 200: nan
Cost after epoch 210: nan
Cost after epoch 220: nan
Cost after epoch 230: nan
Cost after epoch 240: nan
Cost after epoch 250: nan
Cost after epoch 260: nan
Cost after epoch 270: nan
Cost after epoch 280: nan
Cost after epoch 290: nan
Cost after epoch 300: nan
Cost after epoch 310: nan
Cost after epoch 320: 8.870446
Cost after epoch 330: nan
Cost after epoch 340: nan
Cost after epoch 350: nan
Cost after epoch 360: nan
Cost after epoch 370: nan
Cost after epoch 380: nan
Cost after epoch 390: nan
Cost after epoch 400: nan
Cost after epoch 410: nan
Cost after epoch 420: nan
Cost after epoch 430: nan
Cost after epoch 440: nan
Cost after epoch 450: nan
Cost after epoch 460: nan
Cost after epoch 470: nan
Cost after epoch 480: inf
Cost after epoch 490: nan
Cost after epoch 500: nan
Cost after epoch 510: nan
Cost after epoch 520: nan
Cost after epoch 530: nan
Cost after epoch 540: inf
Cost after epoch 550: nan
Cost after epoch 560: nan
Cost after epoch 570: inf
Cost after epoch 580: inf
Cost after epoch 590: nan
Cost after epoch 600: nan
Cost after epoch 610: nan
Cost after epoch 620: nan
Cost after epoch 630: nan
Cost after epoch 640: nan
Cost after epoch 650: nan
Cost after epoch 660: 123.559941
Cost after epoch 670: 151.095452
Cost after epoch 680: 137.231064
Cost after epoch 690: inf
Cost after epoch 700: nan
Cost after epoch 710: nan
Cost after epoch 720: nan
Cost after epoch 730: 135.976105
Cost after epoch 740: 153.689372
Cost after epoch 750: 89.038034
Cost after epoch 760: nan
Cost after epoch 770: nan
Cost after epoch 780: nan
Cost after epoch 790: nan
Cost after epoch 800: nan
Cost after epoch 810: nan
Cost after epoch 820: nan
Cost after epoch 830: nan
Cost after epoch 840: nan
Cost after epoch 850: nan
Cost after epoch 860: nan
Cost after epoch 870: nan
Cost after epoch 880: nan
Cost after epoch 890: nan
Cost after epoch 900: nan
Cost after epoch 910: nan
Cost after epoch 920: nan
Cost after epoch 930: nan
Cost after epoch 940: nan
Cost after epoch 950: nan
Cost after epoch 960: nan
Cost after epoch 970: nan
Cost after epoch 980: nan
Cost after epoch 990: nan
Cost after epoch 1000: nan
Cost after epoch 1010: nan
Cost after epoch 1020: 186.202344
Cost after epoch 1030: nan
Cost after epoch 1040: nan
Cost after epoch 1050: nan
Cost after epoch 1060: nan
Cost after epoch 1070: nan
Cost after epoch 1080: nan
Cost after epoch 1090: nan
Cost after epoch 1100: nan
Cost after epoch 1110: nan
Cost after epoch 1120: nan
Cost after epoch 1130: nan
Cost after epoch 1140: nan
Cost after epoch 1150: nan
Cost after epoch 1160: nan
Cost after epoch 1170: nan
Cost after epoch 1180: nan
Cost after epoch 1190: nan
Cost after epoch 1200: nan
Cost after epoch 1210: nan
Cost after epoch 1220: nan
Cost after epoch 1230: nan
Cost after epoch 1240: nan
Cost after epoch 1250: inf
Cost after epoch 1260: nan
Cost after epoch 1270: nan
Cost after epoch 1280: nan
Cost after epoch 1290: nan
Cost after epoch 1300: nan
Cost after epoch 1310: nan
Cost after epoch 1320: nan
Cost after epoch 1330: nan
Cost after epoch 1340: 193.238691
Cost after epoch 1350: nan
Cost after epoch 1360: nan
Cost after epoch 1370: nan
Cost after epoch 1380: nan
Cost after epoch 1390: nan
Cost after epoch 1400: nan
Cost after epoch 1410: nan
Cost after epoch 1420: nan
Cost after epoch 1430: nan
Cost after epoch 1440: nan
Cost after epoch 1450: 185.685207
Cost after epoch 1460: nan
Cost after epoch 1470: nan
Cost after epoch 1480: nan
Cost after epoch 1490: nan
Cost after epoch 1500: nan
Cost after epoch 1510: nan
Cost after epoch 1520: 190.850354
Cost after epoch 1530: nan
Cost after epoch 1540: nan
Cost after epoch 1550: nan
Cost after epoch 1560: nan
Cost after epoch 1570: nan
Cost after epoch 1580: nan
Cost after epoch 1590: nan
Cost after epoch 1600: 147.905121
Cost after epoch 1610: 105.928901
Cost after epoch 1620: inf
Cost after epoch 1630: nan
Cost after epoch 1640: nan
Cost after epoch 1650: nan
Cost after epoch 1660: nan
Cost after epoch 1670: nan
Cost after epoch 1680: nan
Cost after epoch 1690: nan
Cost after epoch 1700: nan
Cost after epoch 1710: nan
Cost after epoch 1720: nan
Cost after epoch 1730: 36.069364
Cost after epoch 1740: nan
Cost after epoch 1750: nan
Cost after epoch 1760: nan
Cost after epoch 1770: nan
Cost after epoch 1780: nan
Cost after epoch 1790: nan
Cost after epoch 1800: nan
Cost after epoch 1810: nan
Cost after epoch 1820: nan
Cost after epoch 1830: nan
Cost after epoch 1840: nan
Cost after epoch 1850: nan
Cost after epoch 1860: nan
Cost after epoch 1870: inf
Cost after epoch 1880: nan
Cost after epoch 1890: nan
Cost after epoch 1900: 131.044437
Cost after epoch 1910: 177.556088
Cost after epoch 1920: 93.082530
Cost after epoch 1930: nan
Cost after epoch 1940: nan
Cost after epoch 1950: nan
Cost after epoch 1960: nan
Cost after epoch 1970: nan
Cost after epoch 1980: nan
Cost after epoch 1990: nan
Cost after epoch 2000: nan
Cost after epoch 2010: nan
Cost after epoch 2020: nan
Cost after epoch 2030: nan
Cost after epoch 2040: nan
Cost after epoch 2050: nan
Cost after epoch 2060: nan
Cost after epoch 2070: nan
Cost after epoch 2080: nan
Cost after epoch 2090: nan
Cost after epoch 2100: nan
Cost after epoch 2110: nan
Cost after epoch 2120: nan
Cost after epoch 2130: nan
Cost after epoch 2140: nan
Cost after epoch 2150: nan
Cost after epoch 2160: nan
Cost after epoch 2170: nan
Cost after epoch 2180: 68.169884
Cost after epoch 2190: nan
Cost after epoch 2200: nan
Cost after epoch 2210: 161.923424
Cost after epoch 2220: 49.096636
Cost after epoch 2230: nan
Cost after epoch 2240: nan
Cost after epoch 2250: nan
Cost after epoch 2260: nan
Cost after epoch 2270: nan
Cost after epoch 2280: nan
Cost after epoch 2290: nan
Cost after epoch 2300: nan
Cost after epoch 2310: nan
Cost after epoch 2320: nan
Cost after epoch 2330: nan
Cost after epoch 2340: nan
Cost after epoch 2350: nan
Cost after epoch 2360: nan
Cost after epoch 2370: nan
Cost after epoch 2380: nan
Cost after epoch 2390: nan
Cost after epoch 2400: nan
Cost after epoch 2410: nan
Cost after epoch 2420: nan
Cost after epoch 2430: nan
Cost after epoch 2440: nan
Cost after epoch 2450: nan
Cost after epoch 2460: nan
Cost after epoch 2470: nan
Cost after epoch 2480: nan
Cost after epoch 2490: nan
Cost after epoch 2500: nan
Cost after epoch 2510: nan
Cost after epoch 2520: nan
Cost after epoch 2530: nan
Cost after epoch 2540: 182.240876
Cost after epoch 2550: nan
Cost after epoch 2560: nan
Cost after epoch 2570: nan
Cost after epoch 2580: nan
Cost after epoch 2590: nan
Cost after epoch 2600: nan
Cost after epoch 2610: nan
Cost after epoch 2620: nan
Cost after epoch 2630: 146.288242
Cost after epoch 2640: 134.274211
Cost after epoch 2650: 193.763435
Cost after epoch 2660: nan
Cost after epoch 2670: nan
Cost after epoch 2680: nan
Cost after epoch 2690: nan
Cost after epoch 2700: nan
Cost after epoch 2710: nan
Cost after epoch 2720: nan
Cost after epoch 2730: nan
Cost after epoch 2740: nan
Cost after epoch 2750: nan
Cost after epoch 2760: nan
Cost after epoch 2770: nan
Cost after epoch 2780: nan
Cost after epoch 2790: nan
Cost after epoch 2800: 140.024204
Cost after epoch 2810: 144.655043
Cost after epoch 2820: 154.570070
Cost after epoch 2830: 70.365883
Cost after epoch 2840: nan
Cost after epoch 2850: nan
Cost after epoch 2860: nan
Cost after epoch 2870: nan
Cost after epoch 2880: 202.077128
Cost after epoch 2890: nan
Cost after epoch 2900: nan
Cost after epoch 2910: nan
Cost after epoch 2920: nan
Cost after epoch 2930: nan
Cost after epoch 2940: nan
Cost after epoch 2950: nan
Cost after epoch 2960: nan
Cost after epoch 2970: nan
Cost after epoch 2980: nan
Cost after epoch 2990: nan
Cost after epoch 3000: nan
Cost after epoch 3010: nan
Cost after epoch 3020: nan
Cost after epoch 3030: nan
Cost after epoch 3040: nan
Cost after epoch 3050: nan
Cost after epoch 3060: nan
Cost after epoch 3070: nan
Cost after epoch 3080: nan
Cost after epoch 3090: 34.940881
Cost after epoch 3100: nan
Cost after epoch 3110: nan
Cost after epoch 3120: nan
Cost after epoch 3130: nan
Cost after epoch 3140: nan
Cost after epoch 3150: nan
Cost after epoch 3160: nan
Cost after epoch 3170: nan
Cost after epoch 3180: nan
Cost after epoch 3190: nan
Cost after epoch 3200: nan
Cost after epoch 3210: nan
Cost after epoch 3220: nan
Cost after epoch 3230: nan
Cost after epoch 3240: nan
Cost after epoch 3250: nan
Cost after epoch 3260: nan
Cost after epoch 3270: nan
Cost after epoch 3280: nan
Cost after epoch 3290: nan
Cost after epoch 3300: nan
Cost after epoch 3310: nan
Cost after epoch 3320: 198.490218
Cost after epoch 3330: nan
Cost after epoch 3340: nan
Cost after epoch 3350: nan
Cost after epoch 3360: nan
Cost after epoch 3370: nan
Cost after epoch 3380: nan
Cost after epoch 3390: inf
Cost after epoch 3400: nan
Cost after epoch 3410: nan
Cost after epoch 3420: 153.932831
Cost after epoch 3430: nan
Cost after epoch 3440: nan
Cost after epoch 3450: nan
Cost after epoch 3460: inf
Cost after epoch 3470: nan
Cost after epoch 3480: nan
Cost after epoch 3490: 157.245129
Cost after epoch 3500: 65.297811
Cost after epoch 3510: nan
Cost after epoch 3520: nan
Cost after epoch 3530: inf
Cost after epoch 3540: nan
Cost after epoch 3550: nan
Cost after epoch 3560: nan
Cost after epoch 3570: nan
Cost after epoch 3580: nan
Cost after epoch 3590: nan
Cost after epoch 3600: nan
Cost after epoch 3610: nan
Cost after epoch 3620: nan
Cost after epoch 3630: nan
Cost after epoch 3640: nan
Cost after epoch 3650: nan
Cost after epoch 3660: nan
Cost after epoch 3670: nan
Cost after epoch 3680: nan
Cost after epoch 3690: nan
Cost after epoch 3700: 131.265469
Cost after epoch 3710: 198.083381
Cost after epoch 3720: nan
Cost after epoch 3730: nan
Cost after epoch 3740: nan
Cost after epoch 3750: nan
Cost after epoch 3760: 140.021620
Cost after epoch 3770: 126.660330
Cost after epoch 3780: inf
Cost after epoch 3790: nan
Cost after epoch 3800: nan
Cost after epoch 3810: nan
Cost after epoch 3820: nan
Cost after epoch 3830: nan
Cost after epoch 3840: nan
Cost after epoch 3850: nan
Cost after epoch 3860: nan
Cost after epoch 3870: nan
Cost after epoch 3880: nan
Cost after epoch 3890: nan
Cost after epoch 3900: nan
Cost after epoch 3910: nan
Cost after epoch 3920: nan
Cost after epoch 3930: nan
Cost after epoch 3940: nan
Cost after epoch 3950: nan
Cost after epoch 3960: nan
Cost after epoch 3970: nan
Cost after epoch 3980: nan
Cost after epoch 3990: nan
Cost after epoch 4000: nan
Cost after epoch 4010: nan
Cost after epoch 4020: nan
Cost after epoch 4030: nan
Cost after epoch 4040: nan
Cost after epoch 4050: nan
Cost after epoch 4060: nan
Cost after epoch 4070: nan
Cost after epoch 4080: nan
Cost after epoch 4090: nan
Cost after epoch 4100: nan
Cost after epoch 4110: nan
Cost after epoch 4120: nan
Cost after epoch 4130: nan
Cost after epoch 4140: nan
Cost after epoch 4150: nan
Cost after epoch 4160: nan
Cost after epoch 4170: nan
Cost after epoch 4180: nan
Cost after epoch 4190: nan
Cost after epoch 4200: nan
Cost after epoch 4210: nan
Cost after epoch 4220: nan
Cost after epoch 4230: nan
Cost after epoch 4240: nan
Cost after epoch 4250: nan
Cost after epoch 4260: nan
Cost after epoch 4270: nan
Cost after epoch 4280: nan
Cost after epoch 4290: nan
Cost after epoch 4300: 187.240384
Cost after epoch 4310: nan
Cost after epoch 4320: nan
Cost after epoch 4330: 41.685294
Cost after epoch 4340: nan
Cost after epoch 4350: nan
Cost after epoch 4360: nan
Cost after epoch 4370: nan
Cost after epoch 4380: nan
Cost after epoch 4390: nan
Cost after epoch 4400: nan
Cost after epoch 4410: nan
Cost after epoch 4420: 63.277395
Cost after epoch 4430: nan
Cost after epoch 4440: nan
Cost after epoch 4450: nan
Cost after epoch 4460: nan
Cost after epoch 4470: nan
Cost after epoch 4480: nan
Cost after epoch 4490: nan
Cost after epoch 4500: 121.692094
Cost after epoch 4510: nan
Cost after epoch 4520: inf
Cost after epoch 4530: nan
Cost after epoch 4540: nan
Cost after epoch 4550: nan
Cost after epoch 4560: nan
Cost after epoch 4570: nan
Cost after epoch 4580: nan
Cost after epoch 4590: nan
Cost after epoch 4600: nan
Cost after epoch 4610: nan
Cost after epoch 4620: nan
Cost after epoch 4630: nan
Cost after epoch 4640: nan
Cost after epoch 4650: nan
Cost after epoch 4660: nan
Cost after epoch 4670: nan
Cost after epoch 4680: nan
Cost after epoch 4690: nan
Cost after epoch 4700: nan
Cost after epoch 4710: nan
Cost after epoch 4720: nan
Cost after epoch 4730: nan
Cost after epoch 4740: nan
Cost after epoch 4750: nan
Cost after epoch 4760: nan
Cost after epoch 4770: nan
Cost after epoch 4780: nan
Cost after epoch 4790: nan
Cost after epoch 4800: nan
Cost after epoch 4810: nan
Cost after epoch 4820: nan
Cost after epoch 4830: nan
Cost after epoch 4840: nan
Cost after epoch 4850: nan
Cost after epoch 4860: nan
Cost after epoch 4870: nan
Cost after epoch 4880: nan
Cost after epoch 4890: nan
Cost after epoch 4900: nan
Cost after epoch 4910: nan
Cost after epoch 4920: nan
Cost after epoch 4930: nan
Cost after epoch 4940: nan
Cost after epoch 4950: nan
Cost after epoch 4960: nan
Cost after epoch 4970: nan
Cost after epoch 4980: nan
Cost after epoch 4990: nan
Cost after epoch 5000: nan
Cost after epoch 5010: nan
Cost after epoch 5020: nan
Cost after epoch 5030: nan
Cost after epoch 5040: nan
Cost after epoch 5050: nan
Cost after epoch 5060: nan
Cost after epoch 5070: nan
Cost after epoch 5080: nan
Cost after epoch 5090: nan
Cost after epoch 5100: nan
Cost after epoch 5110: nan
Cost after epoch 5120: nan
Cost after epoch 5130: nan
Cost after epoch 5140: nan
Cost after epoch 5150: nan
Cost after epoch 5160: inf
Cost after epoch 5170: nan
Cost after epoch 5180: nan
Cost after epoch 5190: 158.496859
Cost after epoch 5200: 144.327558
Cost after epoch 5210: 112.956955
Cost after epoch 5220: nan
Cost after epoch 5230: nan
Cost after epoch 5240: nan
Cost after epoch 5250: nan
Cost after epoch 5260: inf
Cost after epoch 5270: 180.072808
Cost after epoch 5280: nan
Cost after epoch 5290: nan
Cost after epoch 5300: nan
Cost after epoch 5310: nan
Cost after epoch 5320: nan
Cost after epoch 5330: nan
Cost after epoch 5340: nan
Cost after epoch 5350: nan
Cost after epoch 5360: nan
Cost after epoch 5370: nan
Cost after epoch 5380: nan
Cost after epoch 5390: nan
Cost after epoch 5400: nan
Cost after epoch 5410: 136.248690
Cost after epoch 5420: 133.971671
Cost after epoch 5430: 154.382100
Cost after epoch 5440: nan
Cost after epoch 5450: nan
Cost after epoch 5460: nan
Cost after epoch 5470: nan
Cost after epoch 5480: 143.834666
Cost after epoch 5490: 91.951506
Cost after epoch 5500: nan
Cost after epoch 5510: nan
Cost after epoch 5520: nan
Cost after epoch 5530: nan
Cost after epoch 5540: nan
Cost after epoch 5550: nan
Cost after epoch 5560: nan
Cost after epoch 5570: nan
Cost after epoch 5580: 193.700784
Cost after epoch 5590: nan
Cost after epoch 5600: nan
Cost after epoch 5610: nan
Cost after epoch 5620: nan
Cost after epoch 5630: nan
Cost after epoch 5640: 147.965497
Cost after epoch 5650: 79.991604
Cost after epoch 5660: nan
Cost after epoch 5670: nan
Cost after epoch 5680: nan
Cost after epoch 5690: 102.632353
Cost after epoch 5700: nan
Cost after epoch 5710: nan
Cost after epoch 5720: nan
Cost after epoch 5730: nan
Cost after epoch 5740: nan
Cost after epoch 5750: 193.387106
Cost after epoch 5760: nan
Cost after epoch 5770: nan
Cost after epoch 5780: nan
Cost after epoch 5790: 154.466938
Cost after epoch 5800: 101.945916
Cost after epoch 5810: nan
Cost after epoch 5820: nan
Cost after epoch 5830: nan
Cost after epoch 5840: 147.511487
Cost after epoch 5850: 93.027704
Cost after epoch 5860: nan
Cost after epoch 5870: nan
Cost after epoch 5880: nan
Cost after epoch 5890: nan
Cost after epoch 5900: nan
Cost after epoch 5910: nan
Cost after epoch 5920: nan
Cost after epoch 5930: 170.185027
Cost after epoch 5940: nan
Cost after epoch 5950: nan
Cost after epoch 5960: nan
Cost after epoch 5970: nan
Cost after epoch 5980: nan
Cost after epoch 5990: nan
Cost after epoch 6000: nan
Cost after epoch 6010: nan
Cost after epoch 6020: nan
Cost after epoch 6030: 149.926688
Cost after epoch 6040: 94.668820
Cost after epoch 6050: nan
Cost after epoch 6060: nan
Cost after epoch 6070: nan
Cost after epoch 6080: nan
Cost after epoch 6090: nan
Cost after epoch 6100: nan
Cost after epoch 6110: 44.639544
Cost after epoch 6120: nan
Cost after epoch 6130: nan
Cost after epoch 6140: nan
Cost after epoch 6150: nan
Cost after epoch 6160: nan
Cost after epoch 6170: nan
Cost after epoch 6180: nan
Cost after epoch 6190: nan
Cost after epoch 6200: nan
Cost after epoch 6210: nan
Cost after epoch 6220: nan
Cost after epoch 6230: nan
Cost after epoch 6240: nan
Cost after epoch 6250: nan
Cost after epoch 6260: nan
Cost after epoch 6270: nan
Cost after epoch 6280: nan
Cost after epoch 6290: nan
Cost after epoch 6300: nan
Cost after epoch 6310: nan
Cost after epoch 6320: nan
Cost after epoch 6330: nan
Cost after epoch 6340: nan
Cost after epoch 6350: nan
Cost after epoch 6360: nan
Cost after epoch 6370: nan
Cost after epoch 6380: 72.486907
Cost after epoch 6390: nan
Cost after epoch 6400: nan
Cost after epoch 6410: nan
Cost after epoch 6420: nan
Cost after epoch 6430: nan
Cost after epoch 6440: 167.536504
Cost after epoch 6450: nan
Cost after epoch 6460: nan
Cost after epoch 6470: nan
Cost after epoch 6480: nan
Cost after epoch 6490: 191.088261
Cost after epoch 6500: nan
Cost after epoch 6510: nan
Cost after epoch 6520: nan
Cost after epoch 6530: nan
Cost after epoch 6540: nan
Cost after epoch 6550: nan
Cost after epoch 6560: nan
Cost after epoch 6570: nan
Cost after epoch 6580: nan
Cost after epoch 6590: nan
Cost after epoch 6600: nan
Cost after epoch 6610: nan
Cost after epoch 6620: nan
Cost after epoch 6630: nan
Cost after epoch 6640: nan
Cost after epoch 6650: nan
Cost after epoch 6660: nan
Cost after epoch 6670: 46.103538
Cost after epoch 6680: nan
Cost after epoch 6690: nan
Cost after epoch 6700: 165.545176
Cost after epoch 6710: nan
Cost after epoch 6720: nan
Cost after epoch 6730: nan
Cost after epoch 6740: nan
Cost after epoch 6750: nan
Cost after epoch 6760: nan
Cost after epoch 6770: nan
Cost after epoch 6780: nan
Cost after epoch 6790: nan
Cost after epoch 6800: nan
Cost after epoch 6810: 164.736580
Cost after epoch 6820: nan
Cost after epoch 6830: nan
Cost after epoch 6840: nan
Cost after epoch 6850: nan
Cost after epoch 6860: nan
Cost after epoch 6870: nan
Cost after epoch 6880: nan
Cost after epoch 6890: nan
Cost after epoch 6900: nan
Cost after epoch 6910: nan
Cost after epoch 6920: nan
Cost after epoch 6930: nan
Cost after epoch 6940: nan
Cost after epoch 6950: nan
Cost after epoch 6960: 125.989956
Cost after epoch 6970: 152.097125
Cost after epoch 6980: nan
Cost after epoch 6990: nan
Cost after epoch 7000: nan
Cost after epoch 7010: nan
Cost after epoch 7020: nan
Cost after epoch 7030: nan
Cost after epoch 7040: nan
Cost after epoch 7050: nan
Cost after epoch 7060: nan
Cost after epoch 7070: nan
Cost after epoch 7080: nan
Cost after epoch 7090: nan
Cost after epoch 7100: nan
Cost after epoch 7110: nan
Cost after epoch 7120: nan
Cost after epoch 7130: nan
Cost after epoch 7140: nan
Cost after epoch 7150: nan
Cost after epoch 7160: 82.150855
Cost after epoch 7170: nan
Cost after epoch 7180: nan
Cost after epoch 7190: nan
Cost after epoch 7200: nan
Cost after epoch 7210: 207.698959
Cost after epoch 7220: nan
Cost after epoch 7230: 198.313665
Cost after epoch 7240: nan